<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">
      <!-- Login logo -->
      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img class="img-fluid" src="assets/img/login-02.png" alt="Logo" />
          </div>
        </div>
      </div>
      <!-- /Login logo -->

      <!-- Login Content -->
      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <div class="account-logo">
                  <a [routerLink]="routes.adminDashboard"
                    ><img src="assets/img/login-logo.png" alt=""
                  /></a>
                </div>
                <h2>Login</h2>
                <!-- Form -->
                <form [formGroup]="form" (ngSubmit)="loginFormSubmit()">
                  <div class="form-group">
                    <label for="Email">Email <span class="login-danger">*</span></label>
                    <input
                      class="form-control"
                      formControlName="email"
                      type="text"
                      [ngClass]="{
                        'is-invalid': f['email'].touched && f['email'].invalid
                      }"
                    />
                    <div
                    *ngIf="f['email'].touched && f['email'].invalid"
                    class="invalid-feedback"
                    >
                      <div
                      *ngIf="f['email'].errors && f['email'].errors['required']"
                      >
                        Email is required.
                      </div>
                      <div
                        *ngIf="f['email'].errors && f['email'].errors['email']"
                      >
                        Please, enter valid email address.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Password">Password <span class="login-danger">*</span></label>
                    <input
                      class="form-control pass-input"
                      [type]="passwordClass ? 'text' : 'password'"
                      formControlName="password"
                      [ngClass]="{
                        'is-invalid':
                          f['password'].touched && f['password'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['password'].touched && f['password'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['password'].errors &&
                          f['password'].errors['required']
                        "
                      >
                        Password is required.
                      </div>
                    </div>
                    <span (click)="togglePassword()" (keyup.enter)="togglePassword()"  [ngClass] = "passwordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                      class="profile-views toggle-password"  tabindex="0"
                    ></span>
                  </div>
                 
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="ERROR">
                    <strong>Error!</strong> Usuario y/o contraseña son incorrectos.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> </span>
                    </button>
                </div>
                  <div class="form-group login-btn">
                    <button
                      [disabled]="form.invalid"
                      class="btn btn-primary btn-block"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>
                </form>
                <!-- /Form -->

                <div class="next-sign">
                  <p class="account-subtitle">
                    Need an account?
                    <a [routerLink]="routes.register">Sign Up</a>
                  </p>

                 

               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Login Content -->
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
