<p>edit-libro works!</p>
<p>add-libro works!</p>
<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Libros</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar libro</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-box">
                    <h4 class="card-title">Editar libro</h4>
                    <form action="#">
                        <div class="form-group row">
                            <label for="text" class="col-form-label col-md-2">Titulo</label>
                            <div class="col-md-10">
                                <input type="text" name="titulo" [(ngModel)]="titulo" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="text" class="col-form-label col-md-2">Autor</label>
                            <div class="col-md-10">
                                <input type="text" name="autor" [(ngModel)]="autor" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="text" class="col-form-label col-md-2">Año de publicación</label>
                            <div class="col-md-10">
                                <input type="text" name="fecha" [(ngModel)]="fecha" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="text" class="col-form-label col-md-2">Categoría</label>
                            <div class="col-md-10">
                                <input type="text" name="categoria" [(ngModel)]="categoria" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12 text-end">
                                <button class="btn btn-primary" (click)="save()">Editar</button>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="valid_form">
                            <div class="col-md-12 text-end">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Error!</strong> Es necesario llenar todos los campos
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="valid_form_success">
                            <div class="col-md-12 text-end">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Exito!</strong> Se ha editado el libro
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="text_validation">
                            <div class="col-md-12 text-end">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>!</strong>{{text_validation}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                
                    </form>
                </div>
              
            </div>
        </div>
    </div>
</div>