<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">
      <!-- Login logo -->
      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img class="img-fluid" src="assets/img/login-02.png" alt="Logo" />
          </div>
        </div>
      </div>
      <!-- /Login logo -->

      <!-- Login Content -->
      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <div class="account-logo">
                  <a [routerLink]="routes.adminDashboard"
                    ><img src="assets/img/login-logo.png" alt=""
                  /></a>
                </div>
                <h2>Getting Started</h2>
                <!-- Form -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="form-group">
                    <label for="Full">Full Name <span class="login-danger">*</span></label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="fullName"
                      [ngClass]="{
                        'is-invalid':
                          f['fullName'].touched && f['fullName'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['fullName'].touched && f['fullName'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['fullName'].errors &&
                          f['fullName'].errors['required']
                        "
                      >
                        Name is required.
                      </div>
                    </div>
                    <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                      {{ CustomControler }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email <span class="login-danger">*</span></label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid': f['email'].touched && f['email'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['email'].touched && f['email'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['email'].errors && f['email'].errors['required']
                        "
                      >
                        Email is required.
                      </div>
                      <div *ngIf="f['email'].errors && f['email'].errors['email']">
                        Please, enter valid email address.
                      </div>
                    </div>
                    <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                      {{ CustomControler }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Password">Password <span class="login-danger">*</span></label>
                    <input
                      class="form-control pass-input"
                      [type]="passwordClass ? 'text' : 'password'"
                      formControlName="password"
                      [ngClass]="{
                        'is-invalid':
                          f['password'].touched && f['password'].invalid
                      }"
                    />
                    <div
                      *ngIf="f['password'].touched && f['password'].invalid"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['password'].errors &&
                          f['password'].errors['required']
                        "
                      >
                        Password is required.
                      </div>
                    </div>
                    <span (click)="passwordFunc()" (keyup.enter)="passwordFunc()" [ngClass] = "passwordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                      class="profile-views toggle-password" tabindex="0"
                    ></span>
                  </div>
                  <div class="form-group">
                    <label for="Confirm"
                      >Confirm Password
                      <span class="login-danger">*</span></label
                    >
                    <input
                      class="form-control pass-input-confirm"
                      [type]="passwordClass ? 'text' : 'password'"
                      formControlName="confirmPassword"
                      [ngClass]="{
                        'is-invalid':
                          f['confirmPassword'].touched &&
                          f['confirmPassword'].invalid
                      }"
                    />
                    <div
                      *ngIf="
                        f['confirmPassword'].touched &&
                        f['confirmPassword'].invalid
                      "
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f['confirmPassword'].errors &&
                          f['confirmPassword'].errors['required']
                        "
                      >
                        Confirm Password is required.
                      </div>
                    </div>
                    <div
                      *ngIf="isValidConfirmPassword"
                      style="color: red;"
                    >
                      Password not matching
                    </div>
                    <span (click)="confirmPasswordFunc()"  (keyup.enter)="confirmPasswordFunc()"[ngClass] = "confirmPasswordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                      class="profile-views confirm-password" tabindex="0"
                    ></span>
                  </div>
                 
                  <div class="form-group login-btn">
                    <button
                      [disabled]="form.invalid"
                      class="btn btn-primary btn-block"
                      type="submit"
                    >
                      Sign up
                    </button>
                  </div>
                </form>
                <!-- /Form -->

                <div class="next-sign">
                  <p class="account-subtitle">
                    Already have account?
                    <a [routerLink]="routes.login">Login</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Login Content -->
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
